{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Find ticker{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
    <label for="ticker_key">Ticker</label>
    <input name="ticker_key" id="ticker_key" value="{{ request.form['ticker_key'] }}" required>
    <input type="submit" value="Save">
  </form>

  <h1>test</h1>
  <h1>{% block tickdat %}"{{ ticker_info }}"{% endblock %}</h1>

  <div id="my_dataviz"></div>

  <script src="https://d3js.org/d3.v4.js"></script>
  <script>
      console.log({{ticker_info | safe}});
      /*var data = {{ticker_info | safe}}['series']['data'];
      var margin = {top: 10, right: 30, bottom: 30, left: 60},
        width = 460 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        var svg = d3.select("#my_dataviz")
        .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");*/
  </script>

{% endblock %}
