{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Find ticker{% endblock %}</h1>
{% endblock %}

{% block content %}

  <!--TODO: Rename 'save' button to 'submit'-->
  <!--TODO: Rename 'test' header to 'Stock Price'-->
  <!--TODO: Change color scheme and add favicon-->
  <!--TODO: Add learning information-->
  <form method="post">
    <label for="ticker_key">Ticker</label>
    <input name="ticker_key" id="ticker_key" value="{{ request.form['ticker_key'] }}" required>
    <input type="submit" value="Submit">
  </form>

  <h1>Stock Price</h1>
  <!--<h1>{% block tickdat %}"{{ ticker_info }}"{% endblock %}</h1>-->

  <div id="current_price"></div>
  <div id="chartdiv"></div>
  
  <!--https://www.amcharts.com/demos/line-chart-with-scroll-and-zoom/-->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <script>
    console.log({{ticker_info | safe}}['series']['data'][0]['time']);
    var data = {{ticker_info | safe}}['series']['data'];
    console.log(typeof data[0]['price']);
    am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var chart = am4core.create("chartdiv", am4charts.XYChart);

    // Add data
    chart.data = generateChartData();

    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.minGridDistance = 50;

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    // Create series
    var series = chart.series.push(new am4charts.LineSeries());
    series.dataFields.valueY = "price";
    series.dataFields.dateX = "date";
    series.strokeWidth = 2;
    series.minBulletDistance = 10;
    series.tooltipText = "{valueY}";
    series.tooltip.pointerOrientation = "vertical";
    series.tooltip.background.cornerRadius = 20;
    series.tooltip.background.fillOpacity = 0.5;
    series.tooltip.label.padding(12,12,12,12)

    // Add scrollbar
    chart.scrollbarX = new am4charts.XYChartScrollbar();
    chart.scrollbarX.series.push(series);

    // Add cursor
    chart.cursor = new am4charts.XYCursor();
    chart.cursor.xAxis = dateAxis;
    chart.cursor.snapToSeries = series;

    function generateChartData() {
        var chartData = [];
        for (var i = 0; i < data.length; i++) {
            // we create date objects here. In your data, you can have date strings
            // and then set format of your dates using chart.dataDateFormat property,
            // however when possible, use date objects, as this will speed up chart rendering.
            var newDate = new Date(data[i]['time']);

            chartData.push({
                date: newDate,
                price: data[i]['price']
            });
        }
        console.log(chartData);
        return chartData;
    }

    }); // end am4core.ready()

    document.getElementById('current_price').innerHTML = "Current Price: " + data[data.length-1]['price'];
  </script>

  <form method="post">
    <label for="option_date">Select Options Expry Date</label>
    <input type="date" name="option_date" id="option_date" value="{{ request.form['option_date'] }}" required>
    <input type="submit" value="Submit">
  </form>
  <!--<h1>"{{ options_info }}"</h1>-->

  <div id="call_chartdiv"></div>
  <div id="put_chartdiv"></div>

  <!--https://www.amcharts.com/demos/line-chart-with-scroll-and-zoom/-->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <script>
    //console.log({{options_info | safe}}['series']['data'][0]['time']);
    var call_data = {{options_info | safe}}['call'];
    console.log(call_data);
    // Create chart
    var call_chart = am4core.create("call_chartdiv", am4charts.XYChart);

    // The following would work as well:
    // var chart = am4core.create("chartdiv", "XYChart");

    // Add Data
    call_chart.data = call_data;

    // Add category axis
    var categoryAxis = call_chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "strike";

    // Add value axis
    var valueAxis = call_chart.yAxes.push(new am4charts.ValueAxis());

    // Add series
    var call_series = call_chart.series.push(new am4charts.ColumnSeries());
    call_series.name = "Calls";
    call_series.dataFields.categoryX = "strike";
    call_series.dataFields.valueY = "price";

    //console.log({{options_info | safe}}['series']['data'][0]['time']);
    var put_data = {{options_info | safe}}['put'];
    console.log(put_data);
    // Create chart
    var put_chart = am4core.create("put_chartdiv", am4charts.XYChart);

    // The following would work as well:
    // var chart = am4core.create("chartdiv", "XYChart");

    // Add Data
    put_chart.data = put_data;

    // Add category axis
    var categoryAxis = put_chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "strike";

    // Add value axis
    var valueAxis = put_chart.yAxes.push(new am4charts.ValueAxis());

    // Add series
    var put_series = put_chart.series.push(new am4charts.ColumnSeries());
    put_series.name = "Puts";
    put_series.dataFields.categoryX = "strike";
    put_series.dataFields.valueY = "price";

  </script>

{% endblock %}
